<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapacitApp</title>

</head>
<body>
    <div class="container">
        <h1>¡Descarga CapacitApp!</h1>
        <img src="../../assets/img/qr.png" alt="CapacitApp QR Code">
        <p>¡Potencia tu experiencia de aprendizaje al máximo! <br>
          Descarga nuestra aplicación para acceder a nuestros cursos en línea de manera más rápida, intuitiva y conveniente. <br> Con la aplicación, tendrás todo nuestro contenido al alcance de tu mano, en cualquier momento y en cualquier lugar.</p>

    </div>
</body>
</html>
