.contact-form-container {
  width: 50%; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  background-color:white;/* Color de fondo azul claro */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para agregar profundidad */
  min-height: 100vh;
}

h1 {
  text-align: center; /* Centra el encabezado */
  color: #333; /* Color de texto con buen contraste */
}

p {
  text-align: center; /* Centra el párrafo */
  color: #666; /* Color de texto con buen contraste */
}

h3 {
  text-align: center; /* Centra el subtítulo */
  color: #444; /* Color de texto con buen contraste */
}

label {
  display: block; /* Muestra las etiquetas en una nueva línea */
  margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

input,
textarea {
  width: 100%; /* Ancho completo para los campos de entrada */
  padding: 8px; /* Espacio interno dentro de los campos */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px; /* Bordes redondeados */
}
