h1, div {
  text-align: center;
  color: white;
 }

.card{
  background-color: var(--secondary-color);
  width: auto;
  box-shadow: 10px 5px 5px rgb(0,0,0,0.3);
  height: 75%;
}
p{
  color: white;
  font-size: larger;
}
