
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');



.navbar{
    display: flex;
    padding-bottom: 1rem;
    position: fixed;
    height: 100%;
    flex-direction: column;
    width: 3em;
    background-color: var(--secondary-color) ;
    overflow: hidden;
    left: 0;
    top: 0;
    transition: width 0.3s ease-in-out;
    z-index: 1;
}

.navbar:hover,

.navbar.active
{
    width: 24vh;
    z-index: 1;
    background-color: var(--secondary-color);
}
.navbar-lista{
    text-decoration: none;
    list-style: none;
    width: 100%;
	padding-left: 1rem;
}
.navbar-lista-item{
    margin-top: 10px;
	margin-bottom: 10px;
}
.bi {
    font-size: 1.4rem;
    padding: 0.625em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    margin-left: 0.6rem;
    padding: 2%;
    color: var(--black-color);
    outline: transparent solid 0.125em;
    outline-offset: 0.125em;
    display: flex;
    width: 90%;
    overflow: hidden;
    color: var(--white-color);
    align-items: center;
    justify-content: center;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 5px;
}
