:root {
    --primary-color:#FFFFFF;
    --secondary-color: #303F9F;
    --accent-color: #00BCD4;
    --white-color:  #FFFFFF;
    --black-color: #000000;
    --secondary-text:#757575;

}
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
*{
    font-family: 'Oxygen', sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    max-height: 100%;
}
body{
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
}

