<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
  </head>
<body>
<div class="container center">
    <section id="about-us">

        <h1 >EDUCAR ES CONSTRUIR</h1>
        <h2>¿Quienes somos?</h2>
               <br>

      <p>Somos los creadores de CapacIT una plataforma con la misión  ayudar a las personas a capacitarse en línea que permita a sus
         usuarios adentrarse en el mundo de la Tecnología y la Programación.
         Estamos convencidos de que la programación es una habilidad fundamental
        tanto para quienes tienen interés en el ámbito tecnológico, como también para proporcionar
        herramientas necesarias para tener éxito en un mercado laboral cada vez más digitalizado.
.</p>

       <p>Queremos que nos conozcas un poquito, que veas quienes somos los que estamos detrás de la pantalla y formamos parte de este equipo.</p>
  <br>

      <div class="team-members">
        <div class="team-member">
          <img src="../../assets/img/foto-Gabi.jpeg" alt="Gaby">
          <h3> Gabriela Aguilera </h3>
          <p class="role">Web Developer </p>

        </div>
        <div class="team-member">
          <img src="../../assets/img/foto-Nico.jpeg" alt="Nicolas Ramos">
          <h3>  Nicolás Ramos </h3>
          <p>Web Developer </p>

        </div>

        <div class="team-member">
          <img src="../../assets/img/fotdan.jpg" alt="Daniela Barrios">
          <h3> Daniela Barrios  </h3>
          <p>Web Developer </p>

        </div>

        <div class="team-member">
          <img src="../../assets/img/foto-Belu.jpeg" alt="Belen Cacciamani">
          <h3> Belen Cacciamani </h3>
          <p>Web Developer </p>

        </div>

        <div class="team-member">
          <img src="../../assets/img/foto-edith.jpg" alt="Edith Moyano ">
          <h3> Edith Moyano </h3>
          <p>Web Developer </p>

        </div>

        <div class="team-member">
          <img src="../../assets/img/foto-Nelson.jpg" alt="Nelson">
          <h3> Nelson  Vilte</h3>
          <p>Web Developer </p>

        </div>

        <div class="team-member">
          <img src="../../assets/img/foto-Facu.jpeg" alt="Facu">
          <h3> Facundo Villalba </h3>
          <p>Web Developer </p>

        </div>

        <div class="team-member">
          <img src="../../assets/img/foto-Edu.jpeg" alt="Edu">
          <h3> Eduardo Zurbriggen </h3>
          <p>Web Developer </p>
        </div>
        <div class="team-member">
          <img src="../../assets/img/foto-Osvaldo.jpeg" alt="Osvaldo">
          <h3> Osvaldo Diaz
          </h3>
          <p>Web Developer </p>

        </div>
      </div>
      <a href="/register" class="join-button" tabindex="0">¡Únete a nuestra comunidad y comienza a construir tu futuro hoy mismo!</a>
    </section>
</div>
</body>
</html>
