:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #303F9F;
    padding: 1em;
    text-align: center;
    width: 90%;
    border-radius: 1.875em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1 {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #01148b;
  }
  
  p {
    color: rgba(3, 27, 78, 0.8);
  }
  
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 960px; /* Añadido para limitar el ancho de los miembros */
    margin: 0 auto;
  }
  
  .team-member {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .team-member img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  
  .team-member p {
    margin: 0;
  }
  
  a {
    color: aqua;
  }
  