<div class="card">
  <img src="../../assets/img/typescript-intro.jpg" class="card-img-top" alt="imagenCurso" />
  <div class="card-body">
    <h5 class="card-title">{{ course.name }}</h5>
    <p class="description-card">{{ course.description }}</p>
    <p class="card-text">{{ course.technology }}</p>
    <p class="card-text">{{ course.level }}</p>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#miModal-' + course.id">
      Más info de este curso
    </button>
  </div>
</div>

<div class="modal fade" [attr.id]="'miModal-' + course.id" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel">{{ course.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        {{ course.link }}
      </div>
      <div>
        <span>Profesor: {{course.teacher_name}}</span>
      </div>
      <div class="modal-footer" style="flex-direction: column;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <!-- <a href="**" class="btn btn-primary">Comprar <span><i class="bi bi-cart2"></i></span></a> -->
        <span><strong> {{ course.price | currency : "USD" }} USD</strong></span>
        <div class="payment-container" #paymentRef></div>
      </div>
    </div>
  </div>
</div>
