<footer>
    <div class="text-start text-white">
        <div class="container fluid">
            <p>
                Descargá nuestra Aplicacion movil
            </p>
        </div>
    </div>
    <div class="text-start text-white">
        <div class="container fluid">
            <p>
                ¿Quiénes Somos?
            </p>
        </div>
    </div>
    <div class="text-start text-white">
        <div class="container fluid">
            <p>
                Contacto y Asistencia              
            </p>
        </div>
    </div>
    <div class="text-end text-white">
        <div class="container fluid">
            <div class="row justify-content-end">
                <div class="col-lg-8 mt-2">
                    <p>
                         CapacIT  © copyright  - 2023-2024  Argentina
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


