<footer>
    <div class="text-start text-white">
        <div class="container fluid">
            <div class="about colum">
                <ul>
                    <li>Descarga nuestra Aplicación Móvil</li>
                    <li>¿Quiénes Somos?</li>
                    <li>Contacto y Asistencia</li>
                </ul>
            </div>    
        </div>
    </div>    
    <div class="text-end text-white">
        <div class="container fluid">
            <div class="row justify-content-end">
                <div class="col-lg-8 mt-2">
                    <p>
                         CapacIT  © copyright  - 2023-2024  Argentina
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


