footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 15px;
  height: 55px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer-section {
  width: 50%;
}

.footer-section ul {
  list-style: none;
  padding-left: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 0.8125em;
  align-self: flex-end;
  margin-top: auto;
  margin-right: 1rem;
}

