
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color:rgb(48, 63, 159);
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}


h3 {
    color: #201f1f;
    font-size: 1.5em;
    margin-bottom: 20px;

}
h4 {
    color: rgb(48, 63, 159);
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 5px;
    line-height: 1.2;
}


p {
    color: #494949;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}
h5 {
    color: #333333;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

h5 {
    padding: 20px
}
.buttons-container {
    margin-bottom: 20px;
}

.btn {
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 0.625em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.btn-primary {
    background-color:rgb(48, 63, 159);;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 0.625em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
    transform: scale(1.05);
}

/* .btn-success {
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 0.625em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-success:hover {

    transform: scale(1.05);
} */

.btn-danger {
    background-color: #ff6347;
    color: #000; border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 0.625em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-danger:hover {
    transform: scale(1.05);
    
}
.btn-cancelar {
    margin-top: 10px; /* Ajusta el margen superior según sea necesario para que esté alineado */
}

.course-intro {
    background-color:rgb(48, 63, 159);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(48, 63, 159, 0.603);
    margin-bottom: 20px;
    color: aliceblue;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control:focus {
    outline: none;
    border-color: #2575fc;
}

.btn-primary.mt-2 {
    margin-top: 20px;
}

.row.g-3 {
    margin-top: 20px;
}
