<div class="container">
    <div>
        <h1>Cursos</h1>
        <h3>Bienvenido a CapacIT</h3>
           <p> Ofrecemos diferentes cursos y tutoriales que pretenden ayudarte en tu preparación para el mundo de las tecnologías de la información..</p>



            <h4>Hoy puede ser tu primer día en este maravilloso mundo.</h4>

            <h5>Para ver más detalles sobre cada curso, incluyendo los temas que cubre, los conocimientos previos necesarios, los costos y mucho más,
                simplemente haz clic en el curso que te interese y consulta toda su información.</h5>


    </div>


    <div class="buttons-container">
        <button class="btn btn-primary" (click)="showCourses()">Ver Cursos</button>
        <button class="btn btn-success" (click)="showForm()" *ngIf="!showCourseForm">Cargar Cursos</button>
        <button class="btn btn-danger" (click)="hideForm()" *ngIf="showCourseForm">Cancelar</button>
    </div>

    <p class="course-intro" > Queremos que encuentres el curso perfecto para ti, independientemente de tu nivel actual de habilidad.
        Cada curso está dedicado tanto para principiantes como para expertos.</p>

    <div class="container" *ngIf="showCourseForm">
        <div class="form-container">
            <form (ngSubmit)="createCourse()" #formCourse="ngForm">

                <div class="form-group">
                    <label for="name">Nombre curso</label>
                    <input type="text" class="form-control" [(ngModel)]="newCourse.name" name="name"
                        placeholder="Nombre" required>
                </div>
                <div class="form-group">
                    <label for="language">Lenguaje de programación</label>
                    <input type="text" class="form-control" [(ngModel)]="newCourse.language" name="language"
                        placeholder="Lenguaje" required>
                </div>
                <div class="form-group">
                    <label for="link">Descripcion del curso</label>
                    <input type="text" class="form-control" [(ngModel)]="newCourse.link" name="description"
                        placeholder="Descripcion">
                </div>
                <div class="form-group">
                    <label for="price">Precio del curso</label>
                    <input type="text" class="form-control" [(ngModel)]="newCourse.price" name="price"
                        placeholder="Precio" required>
                </div>
                <div class="form-group">
                    <label for="teacher_name">Nombre del Profesor</label>
                    <input type="text" class="form-control" [(ngModel)]="newCourse.teacher_name" name="teacher_name"
                        placeholder="Profesor" required>
                </div>


                <button type="submit" class="btn btn-primary mt-2">Crear Curso</button>

            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="courses-container" *ngIf="showCourseList">
        <div class="row g-3">
            <app-course-card class="col" *ngFor="let course of courses" [course]="course"></app-course-card>
        </div>
    </div>
    <br>
