<div class="card">
  <div class="card-body">
    <form [formGroup]="formUser" method="post" (ngSubmit)="login()">
      <div>
        <label class="form-label">
          <span>Username</span>

          <input type="email" formControlName="emailControl" class="form-control" placeholder="Email">

        </label>
        <div class="alert alert-danger" [hidden]="emailControl.valid ||emailControl.pristine ||!emailControl.touched">
          <span *ngIf="emailControl?.errors?.['required']">El email es obligatorio</span>
        </div>
      </div>

      <div>
        <label for="password" class="form-label">
          <span>Password</span>

          <input type="password" 
            formControlName="passwordControl" 
            class="form-control"
            placeholder="Por favor ingrese su contraseña">

        </label>
        <div class="alert alert-danger" [hidden]="passwordControl.valid ||!passwordControl.touched">
          <span *ngIf="passwordControl.errors?. ['required']">
            La Password es obligatorio
          </span>

          <span *ngIf="passwordControl.errors?. ['minlength']">
            La Password debe ser de 8 o más caracteres.
          </span>
        </div>
      </div>

      <label for="boton">
        <button class="boton" type="submit" [disabled]="formUser.invalid">Ingresar</button>
      </label>
    </form><br>


    <div class="recuperar-contra"><a>¿Has olvidado la contraseña?</a></div>
    <div class="registrarse">¿Todavía no te registraste?</div>
    <div class="registrarse"><a routerLink="/register">Registrarme</a> </div>
  </div>
</div>
{{ formUser.get("passwordControl")?.valid }}