
a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
nav {
  padding: 10px;
  align-content: center;
  margin-left: auto;
}
nav a{
  font-weight: 600;
  padding-right: 10px ;
}
nav ul{
  display: flex;
  
}

nav ul a{
  background-color: var(--secondary-color);
  color:white;
  margin: 5px 10px 5px 10px;
  text-align: center;
  padding: 12px 20px;
  border-radius: 5px;
  transition: background-color .5s ;
}
/* nav ul a:last-child {
  background: #b2b3b2;
} */

nav ul a:hover{
  background-color: white;
  color: #030303;
  box-shadow: 1px 10px 30px #030303;
}
nav ul li {
  list-style-type: none; 
}

nav ul li::before {
  content: ""; 
  display: inline-block; 
  width: 10px; 
  height: 10px;
  border-radius: 50%; 
  background-color: transparent; 
  margin-right: 5px; 
}

nav a:active{
  color: red;
  transform: scale(0.9);
}

header{
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  min-width: 480px;
  /* background-color: rgb(50, 153, 148); */
  background-image: linear-gradient(to bottom right, var(--secundary-color),#f3f3f4 );
  justify-content: space-between;
  align-items: center;
  margin-left: 10em;
  padding: 5px;
  border-radius: 5px;

}

header a h1{
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  margin-right: 50px;
}

header form{
  width: 500px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

header form input{
  padding: 10px;
  font-size:17px;
  border: 1px solid grey;
  width: 300px;
  min-width: 50px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

header form button{
  padding: 5px;
  width: 50px;
  height: 40px;
  background-color: rgb(215,215,215);
  border:1px solid grey;
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
}

header form button:hover{
  background-color: rgb(255, 255, 255);
}
header form button:active{
  transform: scale(0.9);
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  margin-right: 10px;
}

@media (max-width:500px){

  header form button {
    border-radius: 10px;
  }

  nav{
    width: 100%;
  }
}



