:root {
  --primary-color: rgb(50, 153, 148);
  --secondary-color: rgb(99, 199, 199);
}

body {
  min-height: 100vh;
  padding: 0;
}

.navbar {
  display: flex;
  padding-bottom: 1rem;
  position: fixed;
  height: 100%;
  flex-direction: column;
  width: 5em;
  background-color: var(--secondary-color);
  overflow: hidden;
  left: 0;
  top: 0;
  transition: width 0.3s ease-in-out;
}

.navbar:hover,
.navbar.active {
  width: 35vh;
}

.navbar-lista {
  text-decoration: none;
  list-style: none;
  width: 100%;
  padding-left: 1.5rem;
}

.navbar-lista-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bi {
  font-size: 1.4rem;
  padding: 0.625em;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 1rem;
  padding: 2%;
  color: black;
  outline: transparent solid 0.125em;
  outline-offset: 0.125em;
  display: flex;
  width: var(--width);
  overflow: hidden;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal {
  background-color: var(--primary-color);
  padding: 2.5em;
  text-align: center;
  width: 90%;
  border-radius: 1.875em;
  margin-top: 30px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.presentacion {
  width: 7.5em;
  float: left;
  margin: 0 1.25em 1.25em 0;
}

.video {
  width: 90%;
  margin: 1em auto;
}

@media screen and (max-width: 768px) {
  .navbar {
      width: 100%;
      flex-direction: row;
      height: auto;
      position: static;
  }

  .navbar:hover,
  .navbar.active {
      width: 100%;
  }

  .navbar-lista {
      padding-left: 0;
  }

  .navbar-lista-item {
      margin: 0 10px;
  }

  .principal {
      margin-left: 0;
      margin-right: 0;
  }
}

footer {
  text-align: center;
  background: #FFFFFF;
  padding: 2.5em;
}

.copyright {
  color: #000000;
  font-size: 0.8125em;
  margin: 1.25em;
}
