
main {

  height: auto;
  padding-left: 49px;

  font-family: 'Segoe UI';
}

div {
  display: block;
}


div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-image: url('../../assets/img/portada.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}


div:first-child p {
  color: rgb(48, 63, 159);
  font-size: 40px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.mision {
  color: rgb(48, 63, 159);
  font-size: 30px;
  font-weight: bold;
  text-align: center;

  height: 60vh;
  width: 100%;
  margin-top: 100px;

  background-image: url('../../assets/img/portada2.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}


.valores {
  background-color: rgb(48, 63, 159);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;

  height: 60vh;
  width: 100%;
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.valores p {
  margin: 0 100px;
  text-align: center;
}

.valores_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 100px;
  color: rgb(48, 63, 159);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  gap: 30px;
}

.valores_item p {
  width: 50%;
  margin: 0 30px;
  text-align: justify;
}

.valores_item img {
  border-radius: 10px;
  height: 300px;
  width: 300px;
}


@media screen and (max-width: 768px) {

}

