<main>
    <div>
      <!-- <img src="../../assets/img/IconoCapacITApp.png" alt=""> -->
      <p>LOS MEJORES CURSOS IT ONLINE <br> QUE PUEDAS ENCONTRAR</p>
    </div>

    <div class="mision">
      <p>NUESTRA MISIÓN <br><br> Facilitar el acceso a educación de calidad <br> a todas las personas</p>
    </div>

    <div class="valores">
      <p class="valores_titulo">VALORES DE CAPACIT</p> <br>
      <p class="valores_texto">Destacamos la importancia de los valores, <br> ya que guían nuestras acciones en cualquier entorno profesional y social</p>
    </div>

    <div class="valores_item">
      <p>Inclusión: <br> Promover un entorno inclusivo y diverso donde todos los estudiantes se sientan bienvenidos y valorados.</p>
      <img src="../../assets/img/inclusion.jpg" alt="">
    </div>

    <div class="valores_item">
      <img src="../../assets/img/empoder.jpg" alt="">
      <p>Empoderamiento: <br> Capacitar a los usuarios para que alcancen su máximo potencial, proporcionándoles las herramientas y el conocimiento necesarios para avanzar en sus carreras y vidas personales.</p>
    </div>

    <div class="valores_item">
      <p>Compromiso: <br> Dedicar esfuerzos constantes a la mejora continua de la plataforma y los servicios, mostrando una firme determinación hacia el éxito y la satisfacción del usuario.</p>
      <img src="../../assets/img/compromiso.jpg" alt="">
    </div>

    <!-- <div class="video">
        <h3 class="titulo-principal">¿Por qué estudiar programación?</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wldGsJTPJ1o" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div> -->
</main>
