<main>
    <div class="scroll-ele">
        <section class="principal">
            <img src="../../assets/img/logo.png" class="img-fluid" alt="logo CapacIT">
            <br>
            <h2 class="titulo-principal">Los mejores cursos online que puedas encontrar</h2>
            <br>
            <p id="mision">
                <em>Nuestra misión es: <br>
                    <strong>"Proporcionar educación y calidad de vida a nuestros clientes"</strong>.
                </em>
            </p>
            <p>Ofrecemos profesionales experimentados que están constantemente observando los cambios y movimientos en el mundo para así ofrecer a nuestros clientes las últimas capacitaciones. </p>
        </section>
    </div>

    <div class="video">
        <h3 class="titulo-principal">¿Por qué estudiar programación?</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wldGsJTPJ1o" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div><br>

    <div class="scroll-ele">
        <section class="principal">
            <h2 class="titulo-principal"> Impulsa tu formación </h2>
            <p>
                Iníciate en el mundo de la programación
            <br>
                Prepárate para dominar el desarrollo de aplicaciones web y Mobile
            <p>
            <img src="../../assets/img/imagen_codigo3.jpg" class="img-fluid" alt="imagen_codigo3">
        </section>

    </div>
    <div class="scroll-ele">
        <section class="principal">
            <h2 class="titulo-principal">Inscríbete al curso de tu interés</h2>
            <p>Todos nuestros cursos son online para que puedas aprender desde cualquier lugar del mundo utilizando un dispositivo conectado a internet
            </p>
            <img src="../../assets/img/imagen_codigo4.jpg" class="img-fluid" alt="imagen_codigo4">
        </section>
    </div>

    <div class="scroll-ele">
        <section class="principal">
            <h2 class="titulo-principal">Calidad academica</h2>
            <p>Encuentra miles de cursos sobre diferentes temáticas diseñados por expertos en pedagogía</p>
               <br>
               <img src="../../assets/img/imagen_codigo1.jpg" class="img-fluid" alt="imagen_codigo1">
               <br>
        </section>
    </div>

    <div class="scroll-ele">
        <section class="principal">
            <h2 class="titulo-principal">Aprende de forma práctica</h2>
            <p>Los cursos incluyen lecturas, videos, proyectos y actividades aplicados a la realidad</p>
        </section>
    </div>

    <div class="scroll-ele">
        <section class="principal">
            <p class="sobre_nos">
                Para conocer más sobre los creadores de esta página, podés ver los proyectos en el siguiente link:
                <a href="https://portafoliogrupal.great-site.net"> Sobre nosotros </a>
            </p> <br><br><br><br><br><br>

        </section>
    </div>

</main>
